html, button, select, textarea, input {
    font-family: 'Roboto';
    font-size: 16px;
  }

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    }

a,
a:visited {
  text-decoration: none;
  color: #208ACC;
}

th, td{
    width: 190px;
    height: 50px;
    background-color: white;
    box-shadow: 5px 4px 10px gray;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
  
}
